@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Manrope:wght@700&family=Poppins:wght@600;700&family=Roboto:wght@700&display=swap");
/* font-family: 'Inter', sans-serif;
font-family: 'Manrope', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
}

/* navbar section start */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}
.logo h2 {
  font-size: 24px;
  line-height: 36px;
  font-weight: bold;
}
.nav-items {
  display: flex;
}
.navigation {
  display: flex;
}
.navigation li {
  margin: 0 10px;
  list-style: none;
}
.navigation li a {
  text-decoration: none;
  cursor: pointer;
  padding: 10px 15px;
  color: black;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  transition: all 0.3s ease;
}
.navigation li a:hover {
  color: #e02c6d;
}
/* banner section start */
.banner {
  display: flex;
}
.banner-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.banner-left h1 {
  color: #3a3a3a;
  font-size: 52px;
  line-height: 70px;
  margin-bottom: 16px;
  font-weight: 700;
}
.banner-left p {
  color: #3a3a3a;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 16px;
}
.btn {
  padding: 7px 20px;
  border-radius: 10px;
  border-style: none;
  background-color: #e02c6d;
  color: white;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
}
.fa-arrow-right {
  margin-left: 8px;
}
.banner-right {
  background-image: url(images/Circle\ design.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-y: 60px;
  background-position-x: -10px;
}
.banner-right img {
  margin-top: 80px;
}

/* market part start */
.market-place {
  border: 1px solid rgba(192, 204, 218, 0.1);
  background: linear-gradient(
    90deg,
    rgba(192, 204, 218, 0.1) 0%,
    rgba(192, 204, 218, 0.3) 50.38%,
    rgba(192, 204, 218, 0.1) 100%
  );
  text-align: center;
  margin-top: 100px;
}
.market {
  padding: 5px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.market img {
  width: 97.06px;
  height: 28px;
  margin: 15px 5px;
}

/* Popular Collection */
#popular-collection {
  margin-bottom: 4rem;
}
.section-title h1 {
  font-weight: 600;
  font-size: 28px;
  line-height: 50px;
  color: #3a3a3a;
  margin-top: 70px;
  margin-bottom: 25px;
  text-align: center;
}
.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}
.card {
  width: 329px;
  height: 476px;
  box-shadow: 10px 10px 30px gainsboro;
  padding: 15px;
  border-radius: 5px;
}
.card img {
  width: 100%;
}
.card h1 {
  font-weight: 500;
  font-size: 28px;
  line-height: 40px;
  color: #18191f;
}
.price {
  font-family: Inter;
  font-weight: normal;
  font-size: 24px;
  line-height: 150%;
  color: rgba(0, 0, 0, 0.87);
}

.fa-star.feilled,
.fa-star-half-alt.empty {
  font-size: 12px;
  color: #fb8200;
}
.ratting span {
  margin-left: 8px;
  font-size: 14px;
  font-weight: bold;
  font-family: Roboto;
  color: #5e6366;
}
.card-text {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 143%;
  display: flex;
  align-items: center;
  letter-spacing: 0.018em;
  color: #787885;
}
.see-more {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 2rem;
  margin-top: 2rem;
  text-decoration: none;
  color: #e02c6d;
  font-size: 16px;
}
/* contact me section */
.contact {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.contact img {
  width: 80%;
}
.contact form {
  margin-top: 3rem;
}
.contact .input-wrap {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  margin-bottom: 1rem;
}
.contact .input-wrap-2 {
  display: flex;
  flex-direction: column;
}
.contact input {
  padding: 0.5rem;
  font-size: 0.9rem;
}
.contact .input-wrap-2 input {
  margin-bottom: 1rem;
}
.contact .input-wrap-2 textarea {
  padding: 0.5rem;
  font-size: 1rem;
}
.contact input:focus,
.contact textarea:focus {
  outline: none;
}
.button {
  text-align: center;
  margin: 1rem;
}
/* footer section start */
footer {
  text-align: center;
  background: #0a0826;
}
.footer-items {
  padding: 50px 0;
  color: white;
}
.footer-items h1 {
  font-family: Poppins;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
}
.footer-items p {
  font-family: Manrope;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #d9dbe1;
  margin-bottom: 17px;
}

.social-links .fab {
  font-size: 20px;
  margin: 0 15px;
}

/* Media queries */

/* mobile */
@media only screen and (max-width: 688px) {
  .container {
    width: 100%;
  }
  .navbar {
    display: flex;
    justify-content: center;
  }
  .logo h2 {
    font-size: 16px;
    line-height: 24px;
  }
  .nav-items {
    display: none;
  }
  header {
    width: 100%;
  }
  .market-place {
    margin-top: 40px;
  }
  .market img {
    width: 60.06px;
    height: 20px;
  }
  #popular-collection {
    width: 100%;
  }
  .banner,
  .banner-left {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .banner-left {
    text-align: center;
  }
  .banner-left h1 {
    font-size: 28px;
    line-height: 42px;
    margin-top: 2rem;
  }
  .banner-right {
    background-position-y: 20px;
    background-position-x: -10px;
  }
  .banner-right img {
    width: 100%;
    margin-top: 20px;
  }
  .cards {
    grid-template-columns: repeat(1, 1fr);
  }
  .card {
    width: 100%;
    height: 100%;
  }
  .see-more {
    margin-right: 0.5rem;
  }
  .contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .contact-left {
    display: flex;
    justify-content: center;
  }
  .contact .input-wrap {
    grid-template-columns: repeat(1, 1fr);
  }
  footer {
    width: 100%;
  }
}
/* tablet */
@media only screen and (min-width: 688px) and (max-width: 992px) {
  .container {
    width: 100%;
  }
  .banner,
  .banner-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .banner-left {
    text-align: center;
  }
  .banner-left h1 {
    font-size: 28px;
    line-height: 42px;
    margin-top: 2rem;
  }
  .cards {
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
  }
}
